@import "variables.scss";
@import "fonts.scss";

@import "mixins.scss"; 

 

*{
    margin:0;
    padding:0;
    @include fonte; 
}

.link{
    text-decoration: none;
    color:$font-color;
}
.h-link :hover{
    color:$cor-link;
    transition:.5s;
}


.card{
    padding: {
        top:10px;
        bottom:10px;
    }
    margin: {
        top:30px;
        bottom:30px;
    }    
}
p{
    font-size:13pt;
}

.desatived{
    text-decoration: line-through;
    color:grey;
}

.cabecalho{
    background-color: $padrao-cor;
    .menu{        
        .list_header{
            list-style: none;
            display: flex;
            width:min-content;
            margin:auto;
            
             
            >.item_header{
                
                display:inline-flex;
                font-size:14pt;
                
                .link{
                    padding:17px;
                    transition:.5s;
                    color:rgb(240,240,240)
                }
                .link:hover{
                    transition:.5s;
                    background-color:white;
                    color:grey * 0.4;
                    
                } 

            }    
        }
    }
}

.conteudo{
    background-color: white;    
    background-repeat: no-repeat;
    background-size: 100%;

    color:$font-color;
    .titulo{
        font-size: 11pt; 
        
        text-align:center;
        font-weight: 100;
        color:white;
        font-family:"Roboto";
        padding: {
            bottom:16px;
            top:20px;
        }
        background-color:$padrao-cor*1.3;

    }
    >.code-fundo{
        height:250px;
        background-repeat: repeat-y; 
        background-size:40%;;
        background-position: top center;
        background-image:url("./img/code_fundo.jpg");
        background-attachment:fixed; 
        padding:0;
        margin:0;
        margin-bottom:50px;
        >.code-frente{
            width:100%;
            height:100%;
            background-repeat: no-repeat; 
            background-image:url("./img/code_front-ok.png");
            background-attachment:initial; 
            background-size:100% 100%;
            padding: {
                top:20px;
                bottom:20px;
            }
        }
    }


    >.quemsou{
        width:100%;
        >.dados-pessoais{
            @include box-alternavel(row);
            >.perfil{
                width:min-content;
                >.foto{
                    @include circle(180px,180px);
                    @include sombra;
                }
            }                
        >.culunadados{
            margin-left:15px;
            background-color:rgba(#fff,0.7);
            border-radius:5px;
            @include box-text-alternavel;
        }
    }
            
        
        >.resumo{
            margin: auto;
            margin-top:30px;
            width:800px;
            background-color:white;
            padding:20px;
            h2{
                color:darken(($padrao-cor*1.5), 2%);
                font-family:"Khula", sans-serif;
            }
             > p{
                @include responsive-text;
                margin-top:30px;
            }
        }
    }
        .titulo1{
            text-align:left;
        }

       
    

    >.formacao{        
        width:100%;
        >.lp{
            background-color:lighten($padrao-cor, 70%);
            padding: {
                top:30px;
                bottom:30px;
            }
        }
        >.lp_direita{
            width:100%;
            >.h_curso{
                @include box-alternavel(row-reverse);
                >.logo{                    
                    width:min-content;
                    >.logo_fatec{
                        @include retangle(150px,150px);
                        padding:3px;
                        box-sizing:border-box;
                    }
                }
                >.culunadados{
                    @include box-text-alternavel(center);
                }
            }
            
        }
        >.lp_esquerda{
            margin-top:100px;
            width:100%;
            >.h_curso{
                @include box-alternavel(row);
                >.logo{
                    width:min-content;
                    >.logo_ifsp{
                        @include retangle(115px,190px);
                        padding:3px;
                        box-sizing:border-box;
                    }
                }
                >.culunadados{
                    @include box-text-alternavel(center);
                }
            }
        }
    }

    >.habilidades{
        
        >.list{
            display:flex;
            align-items: center; 
            align-content: space-between;    
            flex-direction: row;
            margin:auto;

            >.item:nth-child(n){
                background-color:#1e88e5 ;
                border-radius:60% 0 45% 0; 
            }
            >.item:nth-child(2n){
                background-color:#00c853;
                border-radius:0 45% 0 60% ; 
            }
            >.item{
                list-style:none; 
                text-align:center;
                width:150px;
                padding:30px;
                >.link{
                    color:white;
                }
            }
            >.item >.link:hover{
                color:$cor-link;
                transition:0.5s;
            }
        }
    }
    


    @for $i from 1 through 4{
        .titulo#{$i}{
            font-size: $font-size / ($i*0.8);
            text-align:center;
        }
    }
}   
.titulo1{
    padding: {
        top: 30px;
        bottom:30px;
    }

    color:#fff;
    background-color:$padrao-cor*1.2;
}

.titulo2{
    margin-top:50px;
    border-bottom:grey solid 1px;
}.titulo3{
    margin-top:30px;
    text-decoration: underline;
}