
 
@mixin fonte{
    font-family: 'Roboto'; 
    font-weight: 100;   
}

@mixin responsive-text{
    text-align: justify;
    text-indent: 1cm;
}

@mixin circle($h,$w){
    box-sizing:border-box;
    display:inline-flex;   
    border-radius:50%;
    height:$h;
    width:$w;
}
@mixin retangle($h,$w){
    box-sizing:border-box;
    display:inline-flex; 
    height:$h;
    width:$w;
}
@mixin sombra($qnt: 3px){
    box-shadow: 0px 0px $qnt rgba(#000,0.5);
}

@mixin box-alternavel($direction){
    width:80%;
    margin:auto;
    display: flex;
    flex-direction: $direction;
    flex-wrap:wrap;
    @media screen and (min-width: 900px) {
        flex-wrap: nowrap;
    }
    justify-content: center;
    
}
@mixin box-text-alternavel($alig: left){
    padding:20px;
    width:max-content;
    text-align:$alig;
    >.texto{
        font-size:24px;
    } 
}